

.background3 {
    background-color: #0b1622;
    position: relative;
    min-height: 100vh;
    width: 100%;
    top: 775px;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

/* .container3 {
    position: fixed;
} */

.background3::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
    display: none;
  }
  

/* 
html, body, .background3 {
    min-height: 100vh;
}

html, body {
    min-height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
} */

.container3 {
    position: relative;
    background-color: white;
    padding: 0;
    margin: 0 auto;
    min-height: 100vh;
    min-width: 320px;
    width: 70%;
}

@media (min-width: 1040px) and (max-width: 1540px) {
.container3 {
    max-width: 1140px;
    }
}

.anime-banner {
    position: absolute;
    z-index: 1;
    top: 75px;
    background-color: pink;
    background-position: 50% 35%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100vw;
}

.anime-banner-shadow {
    background: linear-gradient(
        180deg
        ,rgba(0, 0, 0, 0) 40%,rgba(0, 0, 0, 0.815));
            height: 100%;
            width: 100%;
}

.anime-desc-background {
    z-index: 1;
    background-color: #151f2e;
    position: absolute;
    top: 475px;
    min-height: 300px;
    width: 100vw;
}

.anime-desc-container {
    background-color: #151f2e;
    margin: 0 auto;
    min-height: 300px;
    height: 100%;
    min-width: 320px;
    width: 70%;
}

.anime-picture {
    position: absolute;
    width: 215px;
    height: 322px;
    margin-top: -135px;
}

.cover {
    background-color: rgba(212,230,245,.5);
    border-radius: 2px;
    box-shadow: 0 0 29px rgb(49 54 68 / 25%);
    margin-top: 15px;
    width: 100%;
}

.anime-desc {
    background-color: #151f2e;
    margin-left: 260px;
    width: 80.65%;
    height: 300px;
}

.anime-desc-title {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.anime-desc-title span {
    padding-left: 16px;
    color: rgba(159,173,189, 1);
    font-size: 1.2rem;
    font-weight: 400;
}

.anime-desc-content {
    width: 100%;
    height: 180px;
    overflow-y: scroll;
}

.anime-desc-content::-webkit-scrollbar {
    display: none;
  }

.anime-desc-content p {
    color: rgba(114,138,161, 1);
    padding-left: 16px;
    height: 165px;
}

.anime-desc-content p:hover {
    color: rgba(159,173,189, 1);
    padding-left: 16px;
    height: 165px;
    transition: .2s;
}

.anime-nav-links {
    height: 53px;
    width: 100%;
    display: flex;
    font-size: 1rem;
    justify-content: space-evenly;
    justify-self: center;
    align-items: center;
}

.anime-nav-link {
    cursor: pointer;
    color: rgba(114,138,161, 1);
    display: flex;
}

.anime-nav-link:hover {
    cursor: pointer;
    color: rgba(61,180,242, 1);
}

.anime-side-info {
    position: absolute;
    width: 215px;
    height: 100vh;
    background-color: #0b1622;
}

.main-content-background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 84%;
    height: 100vh;
    background-color: #0b1622;
    margin-left: 215px;
}

.anime-page-status {
    color: white;
    background-color: #40b4f4;
    display: flex;
    font-size: 1.2rem;
    height: 35px;
    justify-content: center;
    line-height: 1.3rem;
    border-radius: 3px;
    margin-top: 20px;
    align-items: center;
}

.anime-status-button {
    background-color: #40b4f4;
    cursor: pointer;
}

.fa-chevron-down {
    margin-top: 4px;
    margin-left: 20px;
}

.status-dropdown-container {
    background-color: white;
    width: 140px;
    height: 130px;
    transform-origin: center top;
    z-index: 1;
    position: absolute;
    top: 730px;
    left: 330px;
    border: 0;
    box-shadow: 0 1px 10px 0 rgb(49 54 68 / 15%);
    overflow: initial;
    border-radius: 5px;
}

.status-dropdown-select {
    list-style-type: none;
    line-height: 30px;
    padding: 0 17px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 8px;
    outline: none;
}

.anime-rating-holder {
    background-color: rgb(21,31,46);
    border-radius: 3px;
    display: block;
    margin-top: 50px;
    width: 100%;
    padding: 8px 12px;
}

.fa-star {
    color: yellow;
}

.anime-info-text-rating {
    color: white;
    font-size: .8rem;
    width: 100%;
}

.anime-info-text {
    color: white;
    font-size: .9rem;
    width: 100%;
}

.anime-info-box {
    margin-top: 10px;
    background-color: rgb(21,31,46);
    border-radius: 3px;
    padding: 8px 12px;
    height: 100%;
}

.anime-info-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
}