.background {
    background-color: #0b1622;
    position: absolute;
    max-height: 100vh;
    width: 100vw;
    top: 75px;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

.container {
    background-color: #0b1622;
    margin: 0 auto;
    height: 100vh;
    min-width: 320px;
    width: 70%;

}

@media (max-width: 1540px) {
.container {
    padding-left: 30px;
    padding-right: 30px;
    }
}

@media (min-width: 1040px) and (max-width: 1540px) {
.container {
    max-width: 1140px;
    }
}

.filters-wrapper {
    background-color: #0b1622;
    display: grid;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 200px;
}

.filters-container {
    margin: 40px 0;
    margin-bottom: 25px;
    display: grid;
    height: 100px;
    grid-gap: 24px;
    grid-template-columns: repeat(4,170px);
}

.filter-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: .03rem;
    padding: 11px 16px;
    background-color: rgb(21,31,46);
    border-radius: 6px;
    height: 45px;
    box-shadow: 0 14px 30px rgba(0,5,15, .1), 0 4px 4px rgba(0,5,15,.04);
    color: rgb(100,115,128);
}

.filter-select-search {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: .03rem;
    padding: 11px 16px;
    background-color: rgb(21,31,46);
    border-radius: 6px;
    height: 45px;
    box-shadow: 0 14px 30px rgba(0,5,15, .1), 0 4px 4px rgba(0,5,15,.04);
    color: rgb(100,115,128);
}

.filter-select-title {
    color: rgb(201,215,227);
    font-size: 1.0rem;
    font-weight: 600;
    padding: 10px 0;
    text-transform: capitalize;
}

.search-input {
    margin: 0;
    margin-left: 10px;
    outline: 0;
    padding: 0;
    width: 100%;
    background: 0 0;
    border: none;
    color: rgb(139,160,178);
    display: inline-block;
}

.anime-container {
    background-color: #0b1622;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.anime-card-holder {
    animation: in-data-v-758c163c .3s linear;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: in-data-v-758c163c;
    margin-left: 65px;
    margin-bottom: 100px;
    cursor: pointer;
}

.anime-card {
    transition: opacity .3s ease-in-out;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    width: 185px;
    height: 265px;
    background-color: white;
    border-radius: 4px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.anime-card-name {
    color: rgb(139,160,178);
    font-size: .9rem;
    font-weight: 600;
    line-height: 21px;
    margin-top: 10px;
    width: 185px;
    display: flex;
}

.genres-dropdown-container {
    background-color: rgb(21,31,46);
    color: rgb(139,160,178);
    width: 140px;
    height: 580px;
    transform-origin: center top;
    z-index: 1;
    position: absolute;
    border: 0;
    box-shadow: 0 1px 10px 0 rgb(49 54 68 / 15%);
    overflow: initial;
    border-radius: 5px;
    user-select: none;
    margin-top: 29px;
    margin-left: -90px;
}

.genres-dropdown-select {
    list-style-type: none;
    line-height: 30px;
    padding: 0 17px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 8px;
    outline: none;
}

.genres-dropdown-select:hover {
    background-color: rgb(11,22,34);
    color: rgb(61,180,242);
}

.years-dropdown-container {
    background-color: rgb(21,31,46);
    color: rgb(139,160,178);
    width: 140px;
    height: 280px;
    transform-origin: center top;
    z-index: 1;
    position: absolute;
    border: 0;
    box-shadow: 0 1px 10px 0 rgb(49 54 68 / 15%);
    overflow: initial;
    border-radius: 5px;
    user-select: none;
    margin-top: 29px;
    margin-left: -90px;
}

.years-dropdown-select {
    list-style-type: none;
    line-height: 30px;
    padding: 0 17px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 8px;
    outline: none;
}

.years-dropdown-select:hover {
    background-color: rgb(11,22,34);
    color: rgb(61,180,242);
}

.season-filter-dropdown-container {
    background-color: rgb(21,31,46);
    color: rgb(139,160,178);
    width: 140px;
    height: 160px;
    transform-origin: center top;
    z-index: 1;
    position: absolute;
    border: 0;
    box-shadow: 0 1px 10px 0 rgb(49 54 68 / 15%);
    overflow: initial;
    border-radius: 5px;
    user-select: none;
    margin-top: 29px;
    margin-left: -90px;
}

.season-filter-dropdown-select {
    list-style-type: none;
    line-height: 30px;
    padding: 0 17px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 8px;
    outline: none;
}

.season-filter-dropdown-select:hover {
    background-color: rgb(11,22,34);
    color: rgb(61,180,242);
}