.background2 {
    background-color: #0b1622;
    position: absolute;
    min-height: 100vh;
    top: 75px;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.container2 {
    background-color: white;
    margin: 0 auto;
    height: 100vh;
    min-width: 320px;
    width: 70%;

}

.list-side-info {
    position: absolute;
    width: 215px;
    height: 100vh;
    background-color: #0b1622;
}

.lists {
    position: absolute;
    top: 0px;
    margin-left: 0px;
    width: 59%;
    height: 100vh;
    background-color: #0b1622;
    margin-left: 215px;
}

.list-header {
    background-color: #0b1622;
    color: #a0b1c5;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    font-size: 1.2rem;
}

.list-section {
    background-color: #152232;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 0 2px 20px rgb(49 54 68 / 9%);
    font-size: 1.5rem;
    width: 90%;
    padding-bottom: 10px;
}

.list-head-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 85%;
}

.list-title {
    color: #a0b1c5;
    text-align: left;
    margin-left: 45px;
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 5px;
}

.list-score {
    color: #a0b1c5;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 400;
    margin-top: 5px;
}

.list-entry-row {
    margin: 0 auto;
    margin-top: 10px;
    width: 85%;
    height: 40px;
    display: flex;
}

.list-entry-cover {
    width: 40px;
    height: 40px;
}

.list-entry-img {
    cursor: pointer;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    height: 40px;
    width: 40px;
    text-align: center;
    margin-left: -7px;
}

.list-entry-title {
    color: #a0b1c5;
    font-size: 1.0rem;
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 7px;
}

.list-entry-score {
    color: #a0b1c5;
    font-size: 1.2rem;
    height: 40px;
    display: flex;
    align-items: center;
}

.list-entry-info-holder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.filter-list-box {
    background-color: #0b1622;
    margin-top: 50px;
}

.filter-list-title {
    color: #a0b1c5;
    font-size: 1.0rem;
    font-weight: 400;
    text-transform: capitalize;
}

.filter-list {
    color: #a0b1c5;
    cursor: pointer;
    font-size: 1.0rem;
    margin-bottom: 8px;
    padding: 5px 10px;
    text-transform: capitalize;
    border-radius: 3px;
    font-weight: 400;
}

.anime-list-title:hover {
    cursor: pointer;
}




@media (min-width: 1040px) and (max-width: 1540px) {
.container2 {
    max-width: 1140px;
    }
}